.wrap-content{}
.content{
    margin: 0 50px 0 50px;
}
/*-------------------------  HEADER  -------------------------*/
#header{}
#nav-top{
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* border-bottom: 1px solid; */
    flex-wrap: wrap;
    top: 0;
    height: 70px;
}
.navtop-left{
    margin: 23px 0 13px 0;
    /* align-content: center; */
}
.navtop-right{
    display: flex;
    margin: 23px 0 17px 0;
}
.navtop-contact{
    display: flex;
    /* margin-left: 5px; */
    /* align-items: center; */
    height: 80%;
}
.contact-email{
    display: flex;
    border-right: 1px solid #FFE4C4;
    padding-right: 55px;
}
.margin-2{
    margin-right: 20px;
}
.contact-phone{
    display: flex;
    padding-left: 40px;
}
.contact-phone-text{
    color: #88c74a;
}
.icon-phone{
    margin-right: 10px
}
.navtop-social{
    display: flex;
    border-right: 1px solid #FFE4C4;
    width: 40%;
}
.navtop-language{
    padding: 0px 20px 0 24px;
    border-right: 1px solid #FFE4C4;
    width: 165px;
    display: flex;
}
.navtop-language ul{
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
.navtop-language li{
    display: inline-block;
    position: relative;
    /* width: 128px; */
    line-height: 25px;
}
.navtop-language:hover .sub-menu-3{
    display: block;
}
.navtop-language a{
    text-decoration: none;
    color: black;
    display: block;
}
.navtop-language-icon-down{
    margin-left: 4px;
}
.navtop-language-icon-nation{
    margin-right: 9px;
}
.sub-menu-3{
    display: none;
    position: absolute;
    z-index: 1;
    background-color:white;
    /* padding-top: 2px; */
}
.sub-menu-3 li{
    /* text-align: center; */
    /* display: flex; */
    /* margin-left: -40px; */
    width: 102px;
    line-height: 37px;
    margin-top: 7px;
}
.sub-menu-3 a:hover{
    color: #88c74a;
}

.icon-language{
}
.navtop-login{
    margin-left: 15px;
    margin-right: 0px;
    width: 20%;
    text-align: right;
}
#logo{
    display: flex;
    height: 120px;
    padding: 20px 0 20px 0;
    justify-content: space-between;
    /* border: 1px solid; */
    margin-top: -17px;
}

.logo-logo{
    width: 8%;
    margin-top: 20px;
}
.logo-cateSearch{
    display: flex;
    border: 1px solid #FFE4C4;
    /* padding: 23px 0 25px 0; */
    align-items: center;
    width: 615px;
    margin: 15px 0 13px 0;
}

.logo-categories{
    border-right: 1px solid #FFE4C4;
    /* padding-right: 20px; */
    /* margin-left: 23px; */
    cursor: pointer;
    /* display: flex; */
    /* align-content: center; */
    /* text-align: center; */
    /* font-size: 16px; */
    /* color: #252525; */
    /* font-family: "Cera Pro"; */
    /* font-weight: 500; */
    /* text-align: center; */
    width: 216px;
}
.logo-categories-text{
    
margin-left: 30px;
}
.logo-categories ul{
    list-style-type: none;
    background-color: #ffffff;
    /* padding-top: 11px; */
    margin: 1px 0 1px 0px;
    padding: 0;
}
.logo-categories li{
    display: inline-block;
    width: 215px;
    /* height: 46px; */
    line-height: 50px;
    /* margin-left: -5px; */
    position: relative;
    /* background-color: aqua; */
}
.logo-categories a{
    text-decoration: none;
    display: block;
    color: black;
    /* font-size: 16px; */
}
.logo-categories a:hover{
    color: #88c74a;
}

.logo-categories:hover .sub-menu-2{
    display: block;
}
.sub-menu-2{
    position: absolute;
    /* width: 13%; */
    /* margin-top: 26px; */
    display: none;
    /* padding-top: 14px; */
    padding-top: 13px;
    z-index: 1;
}
.sub-menu-2 li{
    /* text-align: center; */
    display: flex;
    /* margin-left: -40px; */
    /* height: 50px; */
    /* align-content: center; */
    padding-top: 1px;
    /* line-height: 50px; */
    width: 275px;
    line-height: 47px;
}

.icon-categories{
    width: 25%;
    text-align: center;
}

.logo-search{
    margin-left: 9px;
    /* width: 103%; */
}

/* .wrap-logo-menu{

} */
.logo-menu{
    width: 770px;
    padding-top: 18px;
}
.logo-menu ul{
    list-style-type: none;
    text-align: center;
    margin: 0;
}
.logo-menu li{
    position: relative;
    display: inline-block;
    width: 120px;
    background: white;
    margin-right: 12px;
    height: 45px;
    line-height: 45px;
}
.logo-menu a{
    text-decoration: none;
    display: block;
    color: black;
    text-align: center;
}
.logo-menu a:hover{
    color: #88c74a;
}
.sub-menu{
    display: none;
    position: absolute;
}
.logo-menu li:hover .sub-menu{
    display: block;
}
.sub-menu li{
    margin-left: -40px;
}
  
.logo-icon{
    display: flex;
    padding-top: 28px;
}
.logo-icon-love{
    position: relative;
    margin-right: 20px;
}
.logo-icon-cart{
    position: relative;
    margin-right: 20px;
}
.float-icon{
    position: absolute;
    background-color: #88c74a;
    color: white;
    border-radius: 50%;
    width: 17px;
    text-align: center;
    height: 18px;
    font-size: 12px;
    top: -4px;
    left: 21px;
}
.icon-header{
    font-size: 30px;
    /* font-style: oblique; */
    font-weight: bold;
}
.icon-down{
    margin-left: 2px;
    margin-top: 2px;
}
.icon-down-2{
    margin-left: 20px;
}
.icon-search{
    display: inline-flex;
    background-color: black;
    color: white;
    width: 52px;
    height: 51px;
    align-items: center;
    /* text-align: center; */
    padding-left: 17px;
    font-size: 19px;
    margin-top: 4px;
    border-radius: 3px;
}
.form-search-input{
    
}
.input-search{
    border: none;
    margin-bottom: 14px;
    margin-left: 23px;
}
.form-search{/* text-align: center; *//* margin-bottom: 6px; */}
#categories{}

#slide{
    /* border: 1px solid; */
    height: 680px;
    background-color: #fff2d0;
    /* position: relative; */
}
.slide-caption{
    position: absolute;
    margin: 233px 0 20px 200px;
}
.slide-caption-title{
    font-size: 16px;
    letter-spacing: 3px;
    line-height: 40px;
    color: #88c74a;
    font-family: "Cera Pro";
    font-weight: bold;
}
.slide-caption-name{
    font-size: 48px;
    color: #252525;
    font-family: "Cera Pro";
    font-weight: bold;
    text-align: left;
}
.slide-caption-description{
    width: 488px;
    height: 47px;
    font-size: 18px;
    line-height: 26px;
    color: #636363;
    font-family: "Cera Pro";
}
.slide-caption-button{
    width: 140px;
    height: 46px;
    border-radius: 23px;
    background-color: #fff2d0;
    border: 2px solid #88c74a;

    font-size: 14px;
    color: #88c74a;
    font-family: "Cera Pro";
    font-weight: bold;
    text-align: center;

    margin-top: 25px;
    cursor: pointer;
}

@media only screen and (max-width:1279px){
    .content{margin: 0 25px 0 25px;}
    .contact-email{padding-right: 30px}
    .contact-phone{padding-left: 30px}
    .navtop-language{width: 140px;padding: 0px 0 0 20px;}
    
}
/*-------------------------  END HEADER  -------------------------*/

/*-------------------------  BANNER  -------------------------*/
#banner{
    margin: 20px 0 40px 0;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.banner-item{
    flex-basis: 570px;
    height: 236px;
    /* flex-grow: 1; */
    /* margin-right: 20px; */
}
.banner-item:nth-of-type(1){
    background-color: #e0ffd9;
}
.banner-item:nth-of-type(2){
    background-color: #ffdedc;
}
.banner-item:nth-of-type(3){
    background-color: #def1ff;
}
.banner-content{
    position: absolute;
    margin: 50px 0 0 306px;
    font-size: 30px;
    line-height: 20px;
    color: #252525;
/* font-family: "Cera Pro"; */
/* font-weight: bold; */
}
.banner-content-1{}
.banner-content-2{}
.banner-content-3{}
/*-------------------------  END BANNER  -------------------------*/

/*-------------------------  PRODUCT  -------------------------*/
#product{
    margin-bottom: 40px
}
.product-title{
    font-size: 44px;
    color: #252525;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
.product-content{}
.product-menubar{border-bottom: 1px solid #ebebeb;}
.product-menubar li{
}
.product-menubar a{
    /* border: none;
    font-size: 22px;
    color: #b2b2b2;
    font-family: "Cera Pro";
    font-weight: 500;
    text-align: center; */
    border: none !important;
    font-size: 22px;
    color: #b2b2b2;
    text-align: center;
}
.product-menubar a.active{
    color: #88c74a !important;
    border-bottom: 3px solid #88c74a !important;
}
.product-menubar-item-a{

}
.product-product{
    display: flex;
    flex-wrap: wrap;
}
.product-product-item{
    /* width: 300px; */
    height: 300px;
    border: 1px solid;
    flex-basis: 300px;
}
.product-product-item-image{
    height: 76%;
    border: 1px solid;
}
.product-product-item-image img{
    width: 296px;
}
.product-product-item-caption{
    height: 24%;
    border: 1px solid;
    text-align: center;
    /* padding-top: 9px; */
}
.product-item-caption-category{
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    color: #88c74a;
    font-size: 12px;
}
.product-item-caption-name{
    margin: 0;
    font-weight: bold;
    font-size: 18px;
}
.product-item-caption-price-sale{
    margin: 0;
    font-size: 18px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.product-item-caption-price{display: flex;justify-content: center;}
.product-item-caption-price-real{
    margin: 1px 0 0 5px;
    color: #b2b2b2;
    text-decoration: line-through;
}
.wrap-product-product-item-caption-hover{
    display: none;
}
.product-product-item-caption-hover{
    display: flex;
    position: absolute;
    width: 296px;
    height: 89px;
    border: 1px solid;
    z-index: 1;
    justify-content: center;
    padding-top: 21px;
    font-size: 27px;
    background-color: white;
}
.product-product-item-caption:hover .wrap-product-product-item-caption-hover{
    display: block;
}
.product-product-item-caption-hover-like, .product-product-item-caption-hover-cart, .product-product-item-caption-hover-share{
    margin-right: 10px;
    padding-top: 3px;
    width: 44px;
    height: 44px;
    border-radius: 22px;
    background-color: #eaeff4;
    color: #88c74a;
    cursor: pointer;
}
.product-product-item-caption-hover-share{
    margin-right: 0;
}

.product-product-item-caption-hover-like:hover, .product-product-item-caption-hover-cart:hover, .product-product-item-caption-hover-share:hover{
    background-color: #88c74a;
    color: white;
}
/*-------------------------  END PRODUCT  -------------------------*/

/*-------------------------  BENEFIT -------------------------*/
#benefit{
    height: 150px;
    border: 1px solid;
    margin-bottom: 20px;
    display: flex;
}
.benefit-item{
    height: inherit;
    flex-grow: 1;
    text-align: center;
}
.benefit-item-content{
    margin-top: 30px;
}
.benefit-item-content-icon{
    width: 42px;
    height: 30px;
    border-radius: 4px;
    color: #87c749;
    font-size: 24px;
}
.benefit-item-content-name{
    font-size: 16px;
    line-height: 20px;
    color: #252525;
    font-weight: bold;
    margin: 8px 0 0 0;
    text-transform: uppercase;
}
.benefit-item-content-description{
    margin: 0;
}
/*-------------------------  END BENEFIT  -------------------------*/

/*-------------------------  DEAL OF WEEK  -------------------------*/
#dealOfTheWeek{
    height: 510px;
    background-color: #ebfee9;
    border: 1px solid;
    margin-bottom: 20px;
}
.dealOfTheWeek-content{
    text-align: center;
    text-transform: capitalize;
    font-size: 30px;
}
/*-------------------------  END DEAL OF WEEK  -------------------------*/

/*-------------------------  BEST SELLER  -------------------------*/
#bestSeller{
    height: 368px;
    border: 1px solid;
    margin-bottom: 35px;
}
.bestSeller-title{
    display: flex;
    justify-content: space-between;
}
.bestSeller-title-name{
    font-size: 44px;
    color: #252525;
    font-weight: bold;
    text-align: center;
}
.bestSeller-content{
    margin: -51px 0 0 0;
}
.bestSeller-menubar{
    border-bottom: 1px solid #ebebeb;
}
.bestSeller-item{}
/*-------------------------  END BEST SELLER  -------------------------*/

/*-------------------------  FEATURED PRODUCT  -------------------------*/
#featuredProducts{
    height: 368px;
    border: 1px solid;
    margin-bottom: 35px;
}
/*-------------------------  END FEATURED PRODUCT  -------------------------*/