#header{

}
#nav-top{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid;
    flex-wrap: wrap;
    top: 0;
    height: 70px;
}
.navtop-left{
    margin: 23px 0 10px 0;
}
.navtop-right{
    display: flex;
    margin: 23px 0 20px 0;
}
.navtop-contact{
    display: flex;
    margin-left: 5px;
}
.contact-email{
    display: flex;
    border-right: 1px solid;
    padding-right: 60px;
}
.margin-2{
    margin-right: 20px;
}
.contact-phone{
    display: flex;
    padding-left: 6px;
}
.navtop-social{
    display: flex;
    border-right: 1px solid;
}
.navtop-language{
    /* padding-left: 20px; */
    padding: 0 20px 0 20px;
    border-right: 1px solid;
}
.navtop-language ul{
    list-style-type: none;
    text-align: center;
}
.navtop-language a{
    text-decoration: none;
     color: #fff;
    display: block;
}
.navtop-login{
    margin-left: 20px;
    margin-right: 5px;
}
#logo{
    display: flex;
    height: 120px;
    padding: 20px 0 20px 0;
}

.logo-logo{}
.logo-cateSearch{
    display: flex;
}
.logo-categories{}
.logo-search{}
.logo-menu{}
.logo-menu ul{
    list-style-type: none;
    text-align: center;
}
.logo-menu li{
    display: inline-block;
    width: 120px;
    /* color: #1F568B; */
    background: antiquewhite;
}
.logo-menu a{
    text-decoration: none;
    display: block;
    color: black;
}
.sub-menu{
    display: none;
    position: absolute;
}
.logo-menu li:hover .sub-menu{
    display: block;
}
.logo-menu li{
    position: relative;
}
.sub-menu li{
    margin-left: -40px;
}

.logo-icon{
    display: flex;
}
.logo-icon-love{}
.logo-icon-cart{}

#categories{}
#slide{}